<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="ion-text-center"> {{ evento.titulo }} </h3>
  <ion-grid>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="10">
        <h5 > {{ evento.descricao }} </h5>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
  
  <p class="ion-text-center"> @{{ evento.usuarioNome }} • {{ evento.comeco | date: short }} </p>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item class="ion-align-items-center" button lines="none" >
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item button lines="none" (click)="add()">
          <ion-icon name="add-outline"></ion-icon>
          <p> {{ evento.numAdd }} </p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item button *ngFor="let comentario of comentarios">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2>@{{ comentario.username }}</h2>
            </ion-col>
            <ion-col>
              <p>{{ comentario.createdAt | date: short}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h4>{{ comentario.coment }}</h4>
      </ion-label>
    </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea placeholder="Escreva algo..." [(ngModel)]="comentario.coment"></ion-textarea>
    <ion-button fill="clear" slot="end" (click)="coment()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
