<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/lista-usuarios">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let evento of eventos">
      <ion-item button [routerLink]="[ '/detalhesevento', evento.id ]">
        <ion-label>
          @{{ evento.usuarioNome }}
          <p> {{ evento.titulo }} • {{ evento.comeco | date: 'short' }} </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>