<ion-content>
  <ion-button fill="clear" routerLink="/configuracoes">
    <ion-icon slot="icon-only" name="close-outline" ></ion-icon>
  </ion-button>

  <h4 class="ion-text-center">Qual seu novo e-mail?</h4>

  <ion-list class="ion-padding">
    <ion-item lines="full">
      <ion-input placeholder="Novo e-mail" type="text"  [(ngModel)]="usuario.email"></ion-input>
    </ion-item>

      <ion-button class="ion-margin-vertical" shape="round" expand="block" (click)="atualizarEmail()">Atualizar</ion-button>
  </ion-list>    
</ion-content>
